<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.plug.plug1">

    <application
        android:name="com.plug.common.application.BaseApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity android:name="com.okay.supercross.activity.InvisibleActivity"
            android:exported="true"
            android:theme="@style/invisibleActivity">
            <intent-filter>
                <data android:host="InvisibleActivity" android:scheme="com.okay.supercross.activity"
                    tools:ignore="AppLinkUrlError"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activitys.MainActivity"
            android:process=":a"
            android:exported="true"/>
        <activity android:name=".activitys.SecondActivity"
            android:exported="true"/>

    </application>
</manifest>